.card {
	margin-bottom: 16px;
	background-color: $card-bg;
	border: 1px solid $border;
	.card-header {
		background-color: $card-bg;
		border-bottom: 1px solid $border;
		&:first-child {
			border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
		}
	}
	.card-footer {
		background-color: $card-bg;
		border-top: 1px dashed $border;
	}
}

// Dark Mode Overrides
body.dark .card {
	background-color: $card-bg-dark;
	border: $card-border-width solid $card-border-dark;
	color: $card-text-dark;
}
