// Dark Mode Overrides
body.dark .dropdown-menu {
	color: $dropdown-dark-color;
	background-color: $dropdown-dark-bg;
	border-color: $dropdown-dark-border-color;
	@include box-shadow($dropdown-dark-box-shadow);

	.dropdown-item {
		color: $dropdown-dark-link-color;

		&:hover,
		&:focus {
			color: $dropdown-dark-link-hover-color;
			@include gradient-bg($dropdown-dark-link-hover-bg);
		}

		&.active,
		&:active {
			color: $dropdown-dark-link-active-color;
			@include gradient-bg($dropdown-dark-link-active-bg);
		}

		&.disabled,
		&:disabled {
			color: $dropdown-dark-link-disabled-color;
		}
	}

	.dropdown-divider {
		border-color: $dropdown-dark-divider-bg;
	}

	.dropdown-item-text {
		color: $dropdown-dark-link-color;
	}

	.dropdown-header {
		color: $dropdown-dark-header-color;
	}
}
